
# Large game files stored in storage
# Generated 11/16/2024, 11:21:04 AM
# Change this if needed to :>
/semag/10minutestilldawn/
/semag/adventure-capitalist/
/semag/amazing-rope-police/
/semag/animalcrossingwildworld/
/semag/baldis-basics/
/semag/boxingphysics2/
/semag/btd6/
/semag/burgerandfrights/
/semag/burritobison/
/semag/championisland/
/semag/cluster-rush/
/semag/crimsonfantasia/
/semag/donkeykong64/
/semag/drifthunters/
/semag/ducklife3/
/semag/ducklife6/
/semag/flappyrace/
/semag/fleeingthecomplex/
/semag/fnaf/
/semag/fnaf2/
/semag/fnaf3/
/semag/fnaf4/
/semag/fnfmidfight/
/semag/fridaynightfunkin/
/semag/funnymadracing/
/semag/funnyshooter2/
/semag/gdlite/
/semag/geodashsky/
/semag/gladihoppers/
/semag/houseofhazards/
/semag/idleresearch/
/semag/infiltratingtheairship/
/semag/karlson/
/semag/madalincars/
/semag/majorasmask/
/semag/mariokartds/
/semag/marioparty/
/semag/marioparty2/
/semag/marioparty3/
/semag/mariopartyds/
/semag/minion/
/semag/nintendogs/
/semag/ocarinaoftime/
/semag/osu/
/semag/osumania/
/semag/papermario/
/semag/pizzatower/
/semag/pokemon/
/semag/rocketleague/
/semag/rooftopsnipers2/
/semag/roughdino/
/semag/russiancardriver/
/semag/superhot/
/semag/templerun2/
/semag/thirtydollarwebsite/
/semag/townscaper/
/semag/turboracing3/
/semag/v86/
/semag/vex7/
/semag/webretro/
